</<!DOCTYPE html>
<html>
<head>
  <title>Event Info</title>

</head>
<body>
<h1>Event Profile</h1>

<div id="event-info"><h2>Your Event Information:</h2>

<h3><p>Title: <%= @event.title%> </p></h3><br>
  <p>Description: <%= @event.description%> </p><br>
  <p>Address: <%= @event.address%> </p><br>
  <p>Date: <%= @event.event_date%> </p><br>
  <p>Time: <%= @event.event_time%> </p>





</body>
</html>
